<div class="container">
    <nav class="navbar navbar-light" style="background-color: #d1a7a7;">
        <div class="container">
            <a class="navbar-brand" routerLink="/todolist" routerLinkActive="active">todolist</a>
            <a class="navbar-brand" routerLink="/weather" routerLinkActive="active">weather-3-days</a>
            <a class="navbar-brand" routerLink="/weather-current" routerLinkActive="active">Navbar-current</a>
            <form class="d-flex"><button class="btn btn-danger btn-sm" (click)="mockLogout()">Wyloguj</button></form>
        </div>
    </nav>
</div>