<div class="container">
    <nav class="navbar navbar-light" style="background-color: #00b3c0;">
        <div class="container">
            <a class="navbar-brand" routerLink="/todolist" routerLinkActive="active">Lista zadań</a>
            <a class="navbar-brand" routerLink="/weather" routerLinkActive="active">Pogoda na 3 dni</a>
            <a class="navbar-brand" routerLink="/weather-current" routerLinkActive="active">Dzisiejsza pogoda</a>
            <form class="d-flex"><button class="btn btn-danger btn-sm" (click)="mockLogout()">Wyloguj</button></form>
        </div>
    </nav>
</div>