.done {
    background-color: rgb(44, 185, 44);
    color: white;
}

td {
    word-wrap: break-word;
    max-width: 900px;
}

td:nth-child(2) {
    width: 900px;
}

.done2:after {
    content: 'Completed';
}

.done2 span {
    display: none;
}

table {
    width: 100%;
}

tr:nth-child(even) {
    background-color: rgb(233, 243, 255);
}

tbody tr:nth-child(odd) {
    background-color: rgb(213, 234, 248);
}