<app-header></app-header>
<div class="container">
    <div class="row mt-3">
        <div class="col-12 text-center">
            <h1>Aplikacja ToDoList</h1>
        </div>
    </div>
    <div class="row ">
        <div class="col">
            <div class="input-group ">
                <input type="text" class="form-control" placeholder="Dawaj zadanie" aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="newTodo">
                <button class="btn btn-outline-secondary btn-primary" type="button" id="button-addon2" style="color:white;" (click)="saveTodo()">Button</button>
            </div>
        </div>
    </div>
    <table class="table mb-4">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Todo item</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todos; let i= index; ">

                <th scope="row">{{i+1}}</th>
                <td class="{{(!todo.isCompleted)?'done':''}}">{{todo.name}}</td>
                <td class="{{(!todo.isCompleted)?'done2':''}}"><span>In progress</span></td>
                <td>
                    <button type="submit" (click)="remove(i)" class="btn btn-danger">Delete</button>
                    <button type="submit" (click)="done(i)" class="btn btn-success ms-1">Finished</button>
                </td>
            </tr>

        </tbody>
    </table>