.done {
    background-color: rgb(92, 202, 92);
    color: white;
}

td:nth-child(2) {
    width: 900px;
}

.remove {
    color: red;
    font-weight: bold;
}

.done2:after {
    content: 'Completed';
}

.done2 span {
    display: none;
}