<div class="container">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card w-50">
            <div class="card-header">
                <h3>Logowanie</h3>
                <span class="small text-muted"><u>Komponent nie jest bezpieczny</u>,
    jego celem jest demonstracja wybranych koncepcji związanych z routingiem
   w ramach frameworka Angular, a nie
    demonstracji obsługi uwierzytelniania w ramach frameworka.</span>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Login">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Hasło">
                    </div>
                    <button type="button" class="btn btn-primary w-100" (click)="mockLogin()">Zaloguj</button>
                </form>
                <p>Nie masz konta? <a href="#">Zarejestruj się</a></p>
            </div>
        </div>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://www.skiwebshop.pl/media/catalog/product/cache/a33284627b7632a054b7a6530a902035/P/I/picture-pic-object-jkt-aa-jas-gevoerd-heren-camel-bruin-AA11pic104a-BI-02.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>