<div class="container">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card w-50">
            <div class="card-header">
                <h3>Zapraszamy do aplikacji MyApp</h3>
                <span class="small text-muted">Witamy na stronie MyApp. Aby wejść do aplikacji wystarczy kliknąć przycisk <u>Wchodzę</u></span>
            </div>
            <div class="card-body">
                <form>

                    <button type="button" class="btn btn-primary w-100" (click)="mockLogin()">Wchodze</button>
                </form>
                <span class="small text-muted">Aby dowiedzieć sie więcej o naszej stronie wejdz tutaj </span> <a href="#">Dowiedz się wiecej</a>
            </div>
        </div>
    </div>
</div>